<a href="https://colab.research.google.com/github/18K41A0253/Assignment-1/blob/master/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Develop a code for below scenario
year % 12 = {0: "monkey", 1: "rooster", 2: "dog", 3: "pig", 4: "rat", 5: "ox", 6: "tiger",7: "rabbit", 8: "dragon", 9: "snake", 10: "horse", 11: "sheep"}

In [ ]:
year=int(input('enter the year: '))
d={0:'Monkey',1:'Rooster',2:'Dog',3:'Pig',4:'Rat',5:'Ox',6:'Tiger',7:'Rabbit',8:'Dragon',9:'Snake',10:'Horse',11:'Sheep'}
if year%12==0:
  print(d[0])
elif year%12==1:    
  print(d[1])
elif year%12==2:    
  print(d[2])
elif year%12==3:
   print(d[3])
elif year%12==4:
    print(d[4])
elif year%12==5:
    print(d[5])
elif year%12==6:
    print(d[6])
elif year%12==7:
    print(d[7])
elif year%12==8:
    print(d[8])
elif year%12==9:
    print(d[9])
elif year%12==10:
    print(d[10])
elif  year%12==11:
    print(d[11])

enter the year: 2020
Rat

2.	A Quick Fox Transport Co. wants to develop an application for calculating amount based on distance and weight of goods. The charges (Amount) to be calculated as per rates given below.

In [ ]:
distance=int(input("enter distance: "))
weight=int(input("enter weight"))
if distance>=500:
    if weight>=100:
        Cost=5*distance
    elif weight>=10 and weight<100:
            Cost=6*distance 
    else:
          Cost=7*distance 
else:
 
    if weight>=100:
        Cost=8*distance 
    else:
        Cost=5*distance 
 
print(Cost)

enter distance: 520
enter weight50
3120

3.	The Entertainment Paradise

 A theater in Delhi wants to develop a computerized Booking System. The theater offers different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are purchased on Cash. In case of credit card holders 5% discount is given.

In [ ]:
type_of_seat = str(input("Type of seat: "))
payment_mode = str(input("Payment mode: "))
d = {'Stalls': 625, 'Circle': 750, 'Upper class': 850, 'Box': 1000}
if type_of_seat == "Stalls":
    if payment_mode == "Cash":
        cost_of_ticket = d['Stalls'] - (0.1 * d['Stalls'])
        print("Cost of ticket: {}".format(cost_of_ticket))
    elif payment_mode == "credit card":
        cost_of_ticket = d['Stalls'] - (0.05 * d['Stalls'])
        print("Cost of ticket: {}".format(cost_of_ticket))
elif type_of_seat == "Circle":
    if payment_mode == "Cash":
        cost_of_ticket = d['Circle'] - (0.1 * d['Circle'])
        print("Cost of ticket: {}".format(cost_of_ticket))
    elif payment_mode == "credit card":
        cost_of_ticket = d['Circle'] - (0.05 * d['Circle'])
        print("Cost of ticket: {}".format(cost_of_ticket))
elif type_of_seat == "Upper class":
    if payment_mode == "Cash":
        cost_of_ticket = d['Upper class'] - (0.1 * d['Upper class'])
        print("Cost of ticket: {}".format(cost_of_ticket))
    elif payment_mode == "credit card":
        cost_of_ticket = d['Upper class'] - (0.05 * d['Upper class'])
        print("Cost of ticket: {}".format(cost_of_ticket))
elif type_of_seat == "Box":
    if payment_mode == "Cash":
        cost_of_ticket = d['Box'] - (0.1 * d['Box'])
        print("Cost of ticket: {}".format(cost_of_ticket))
    elif payment_mode == "credit card":
        cost_of_ticket = d['Box'] - (0.05 * d['Box'])
        print("Cost of ticket: {}".format(cost_of_ticket))

Type of seat: Circle
Payment mode: Cash
Cost of ticket: 675.0

4.	Develop a program that calculates the energy needed to heat water from an initial temperature to a final temperature. Your program should prompt the user to enter the amount of water in kilograms and the initial and final temperatures of the water. The formula to compute the energy is 
Q = M * (finalTemperature – initialTemperature) * 4184.
where M is the weight of water in kilograms, temperatures are in degrees Celsius,  and energy Q is measured in joules. (L6)

In [ ]:
M = int(input("Amount of water: "))
it = float(input("Initial temperature: "))
ft = float(input("Final temperature: "))
Q = M * (ft - it) * 4184
print(Q)

Amount of water: 50
Initial temperature: 3.55
Final temperature: 150.6
30762859.999999996

5.	Develop a program that prompts user to enter month and  print 
a.	“Winter ” -   December ,January and February
b.	“Spring”  -   March ,April and May
c.	“Summer”  --- June ,July, August
d.	“Autumn ”  -- September ,October, November

In [ ]:
m = str(input("enter month: "))
winter = ["December", "January", "February"]
spring = ["March", "April", "May"]
summer = ["June", "July", "August"]
autumn = ["September", "October", "November"]
if m in winter:
    print("Winter")
elif m in spring:
    print("Spring")
elif m in summer:
    print("Summer")
elif m in autumn:
    print("Autumn")

enter month: December
Winter

6.	Body Mass Index

In [ ]:
w = float(input("enter weight: "))
h = float(input("enter height: "))
w_in_kg = w * 0.45359237
h_in_meters = h * 0.0254
print("weight: {} kg".format(w_in_kg))
print("height: {} m".format(h_in_meters))
BMI = w_in_kg / (h_in_meters ** 2)
print("Body Mass Index(BMI): {}".format(BMI))
if BMI < 18.5:
    print("Underweight")
elif 18.5 <= BMI < 25.0:
    print("Normal")
elif 25.0 <= BMI < 30.0:
    print("Overweight")
elif BMI >= 30.0:
    print("Obese")

enter weight: 135.25
enter height: 85.256
weight: 61.348368042500006 kg
height: 2.1655024 m
Body Mass Index(BMI): 13.082347339139345
Underweight

7.	Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer

In [ ]:
n = int(input("enter a number: "))
result = 0
number = n
while n > 0:
    i = n % 10
    result = result + i
    n = int(n / 10)
print("sum of all digits of", number, "is:", result)

enter a number: 745
sum of all digits of 745 is: 16

8.	Print all palindrome numbers between 1 to 1000.

In [ ]:
m = int(input(" enter the maximum value: "))
print("palindrome number between 1 and {}".format(m))
for num in range(1, m + 1):
    temp = num
    reverse = 0
    while temp > 0:
        reminder = temp % 10
        reverse = (reverse * 10) + reminder
        temp = temp // 10
    if num == reverse:
        print(num)

 enter the maximum value: 1000
palindrome number between 1 and 1000
1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999

8.	Print all armstrong numbers between 1 to 1000.

In [ ]:
m = int(input(" enter the maximum value: "))
print("palindrome number between 1 and {}".format(m))
for n in range(1, m + 1):
    s = 0
    temp = n
    while temp > 0:
        digit = temp % 10
        s = s + digit ** 3
        temp = temp // 10
    if n == s:
        print(n)

 enter the maximum value: 1000
palindrome number between 1 and 1000
1
153
370
371
407

10.	Write a  program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five. When number is divided by both three and five, print "fizz buzz".

In [ ]:
m = int(input("enter maximum number: "))
for n in range(1, m + 1):
    if n % 3 == 0 and n % 5 == 0:
        print("{}: Fizz Buzz".format(n))
    elif n % 5 == 0:
        print("{}: Buzz".format(n))
    elif n % 3 == 0:
        print("{}: Fizz ".format(n))

enter maximum number: 100
3: Fizz
5: Buzz
6: Fizz
9: Fizz
10: Buzz
12: Fizz
15: Fizz Buzz
18: Fizz
20: Buzz
21: Fizz
24: Fizz
25: Buzz
27: Fizz
30: Fizz Buzz
33: Fizz
35: Buzz
36: Fizz
39: Fizz
40: Buzz
42: Fizz
45: Fizz Buzz
48: Fizz
50: Buzz
51: Fizz
54: Fizz
55: Buzz
57: Fizz
60: Fizz Buzz
63: Fizz
65: Buzz
66: Fizz
69: Fizz
70: Buzz
72: Fizz
75: Fizz Buzz
78: Fizz
80: Buzz
81: Fizz
84: Fizz
85: Buzz
87: Fizz
90: Fizz Buzz
93: Fizz
95: Buzz
96: Fizz
99: Fizz
100: Buzz

11.	Spider Problem: A spider present at the bottom of the well of height H, needs to get out of it, using the slippery wall of the well. It decides to climb up the well; it goes up U meters and slips down D meters in one single step. So, in each step it covers (U-D) meters, and if the spider gets out of the well by covering U meters in the last step it doesn’t a slip back. For example, if the spider climbs up 5 meters and slips down by 3 meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the 49th step it climbs up 5 m and reaches out of the well and it will not slip down and the step is counted as one step.

In [ ]:
h = int(input("enter height of well: "))
u = int(input("enter height of spider climbed: "))
d = int(input("enter how deep the spider slipped: "))
s = 0
while h >= u:
    s += 1
    h = h - (u - d)
s += 1
print("Number of steps the spider required to get out of well are: {}".format(s))

enter height of well: 500
enter height of spider climbed: 20
enter how deep the spider slipped: 15
Number of steps the spider required to get out of well are: 98